# #Swiggy Recommendation Workings 25.11.2025

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
swiggy = pd.read_csv("/content/swiggy.csv")

In [ ]:
swiggy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [ ]:
# Taking 12,000 data as sample for workings


sample = swiggy.sample(n=12000, random_state=42)   # select 12,000 rows

sample.to_csv("swiggy_sample.csv", index=False)
print("Sample file created!")

Sample file created!

In [ ]:
swiggy_df = pd.read_csv("/content/swiggy_sample.csv")

In [ ]:
swiggy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            12000 non-null  int64
 1   name          11993 non-null  object
 2   city          12000 non-null  object
 3   rating        11993 non-null  object
 4   rating_count  11993 non-null  object
 5   cost          11990 non-null  object
 6   cuisine       11993 non-null  object
 7   lic_no        11977 non-null  object
 8   link          12000 non-null  object
 9   address       11993 non-null  object
 10  menu          12000 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.0+ MB

In [ ]:
swiggy_df.head()

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,452662,The China Town,"Manikonda,Hyderabad",--,Too Few Ratings,₹ 150,Chinese,2.36E+13,https://www.swiggy.com/restaurants/the-china-t...,"The China Town, H no 8-1-284/OU/307, OU Colony...",Menu/452662.json
1,572575,Ekta Kitchen,Gonda,--,Too Few Ratings,₹ 199,"North Indian,Snacks",2.27E+13,https://www.swiggy.com/restaurants/ekta-kitche...,"Ekta Kitchen, Bahraich road ,infront of zila p...",Menu/572575.json
2,519298,Chinese Lama,"Uttam Nagar,Delhi",--,Too Few Ratings,₹ 200,"Chinese,Snacks",2.33E+13,https://www.swiggy.com/restaurants/chinese-lam...,"Chinese Lama, Plot No.C-510, J.J.Colony, Hasts...",Menu/519298.json
3,484101,Yaami s Kitchen,"Greater Kailash 2,Delhi",4.1,20+ ratings,₹ 300,Chinese,1.33E+13,https://www.swiggy.com/restaurants/yaami-s-kit...,"Yaami s Kitchen, SHOP NO 3 KRISHNA MARKET KALK...",Menu/484101.json
4,251926,CAKE JUNCTION,"CV Raman Nagar,Bangalore",--,Too Few Ratings,₹ 300,"Bakery,Desserts",2.12E+13,https://www.swiggy.com/restaurants/cake-juncti...,"CAKE JUNCTION, NO 204 , Ramagondanahalli , opp...",Menu/251926.json

In [ ]:
swiggy_df.isna().sum()

id               0
name             7
city             0
rating           7
rating_count     7
cost            10
cuisine          7
lic_no          23
link             0
address          7
menu             0
dtype: int64

In [ ]:
# Filling null value with "bfill" & "ffill" methods
swiggy_df['name'] = swiggy_df['name'].fillna(method = "bfill")
swiggy_df["rating"] = swiggy_df["rating"].fillna(method = "bfill")
swiggy_df["rating_count"] = swiggy_df["rating_count"].fillna(method = "bfill")
swiggy_df["cost"] = swiggy_df["cost"].fillna(method = "ffill")
swiggy_df["address"] = swiggy_df["address"].fillna(method = "ffill")
swiggy_df["cuisine"] = swiggy_df["cuisine"].fillna(method = "ffill")
swiggy_df["lic_no"] = swiggy_df["lic_no"].fillna(method = "ffill")

/tmp/ipython-input-3719059987.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  swiggy_df['name'] = swiggy_df['name'].fillna(method = "bfill")
/tmp/ipython-input-3719059987.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  swiggy_df["rating"] = swiggy_df["rating"].fillna(method = "bfill")
/tmp/ipython-input-3719059987.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  swiggy_df["rating_count"] = swiggy_df["rating_count"].fillna(method = "bfill")
/tmp/ipython-input-3719059987.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  swiggy_df["cost"] = swiggy_df["cost"].fillna(method = "ffill")
/tmp/ipython-input-3719059987.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  swiggy_df["address"] = swiggy_df["address"].fillna(method = "ffill")
/tmp/ipython-input-3719059987.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  swiggy_df["cuisine"] = swiggy_df["cuisine"].fillna(method = "ffill")
/tmp/ipython-input-3719059987.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  swiggy_df["lic_no"] = swiggy_df["lic_no"].fillna(method = "ffill")

In [ ]:
swiggy_df.isnull().sum()

id              0
name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         0
lic_no          0
link            0
address         0
menu            0
dtype: int64

In [ ]:
swiggy_df.to_csv("swiggy_cleaned.csv", index=False)

In [ ]:
swiggy_df.drop_duplicates(inplace=True)

In [ ]:
swiggy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            12000 non-null  int64
 1   name          12000 non-null  object
 2   city          12000 non-null  object
 3   rating        12000 non-null  object
 4   rating_count  12000 non-null  object
 5   cost          12000 non-null  object
 6   cuisine       12000 non-null  object
 7   lic_no        12000 non-null  object
 8   link          12000 non-null  object
 9   address       12000 non-null  object
 10  menu          12000 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.0+ MB

In [ ]:
import pandas as pd
import numpy as np

swiggy_cleaned = pd.read_csv("/content/swiggy_cleaned_12000.csv")

In [ ]:
swiggy_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            12000 non-null  int64
 1   name          12000 non-null  object
 2   city          12000 non-null  object
 3   rating        12000 non-null  object
 4   rating_count  12000 non-null  object
 5   cost          12000 non-null  object
 6   cuisine       12000 non-null  object
 7   lic_no        12000 non-null  object
 8   link          12000 non-null  object
 9   address       12000 non-null  object
 10  menu          12000 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.0+ MB

In [ ]:
# Drop multiple columns from the DataFrame
swiggy_cleaned = swiggy_cleaned.drop(columns=["id", "lic_no", "link", "menu"])
print(swiggy_cleaned.head())

              name                      city rating     rating_count   cost  \
0   The China Town       Manikonda,Hyderabad     --  Too Few Ratings  ₹ 150
1     Ekta Kitchen                     Gonda     --  Too Few Ratings  ₹ 199
2     Chinese Lama         Uttam Nagar,Delhi     --  Too Few Ratings  ₹ 200
3  Yaami s Kitchen   Greater Kailash 2,Delhi    4.1      20+ ratings  ₹ 300
4    CAKE JUNCTION  CV Raman Nagar,Bangalore     --  Too Few Ratings  ₹ 300

               cuisine                                            address
0              Chinese  The China Town, H no 8-1-284/OU/307, OU Colony...
1  North Indian,Snacks  Ekta Kitchen, Bahraich road ,infront of zila p...
2       Chinese,Snacks  Chinese Lama, Plot No.C-510, J.J.Colony, Hasts...
3              Chinese  Yaami s Kitchen, SHOP NO 3 KRISHNA MARKET KALK...
4      Bakery,Desserts  CAKE JUNCTION, NO 204 , Ramagondanahalli , opp...

In [ ]:
swiggy_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          12000 non-null  object
 1   city          12000 non-null  object
 2   rating        12000 non-null  object
 3   rating_count  12000 non-null  object
 4   cost          12000 non-null  object
 5   cuisine       12000 non-null  object
 6   address       12000 non-null  object
dtypes: object(7)
memory usage: 656.4+ KB

In [ ]:
import pandas as pd
import pickle

# Assume swiggy_df is your DataFrame
# One-Hot Encode the 'city' column
city_ohe = pd.get_dummies(swiggy_cleaned['city'], prefix='city')

# Save to pickle file
with open("city_ohe.pkl", "wb") as f:
    pickle.dump(city_ohe, f)

print("City OHE saved as city_ohe.pkl")

City OHE saved as city_ohe.pkl

In [ ]:
import pandas as pd
import pickle

# One-Hot Encode the 'cuisine' column
cuisine_ohe = pd.get_dummies(swiggy_cleaned['cuisine'], prefix='cuisine')

# Save to pickle file
with open("cuisine_ohe.pkl", "wb") as f:
    pickle.dump(cuisine_ohe, f)

print("Cuisine OHE saved as cuisine_ohe.pkl")

Cuisine OHE saved as cuisine_ohe.pkl

In [ ]:
# Remove rupee symbol and commas, then convert to numeric
swiggy_cleaned['cost'] = (
    swiggy_cleaned['cost']
    .str.replace('₹', '', regex=False)   # remove rupee symbol
    .str.replace(',', '', regex=False)   # remove commas in numbers
    .astype(float)                       # convert to float
)

print(swiggy_cleaned['cost'].head())

0    150.0
1    199.0
2    200.0
3    300.0
4    300.0
Name: cost, dtype: float64

In [ ]:
swiggy_cleaned.head()

,name,city,rating,rating_count,cost,cuisine,address
0,The China Town,"Manikonda,Hyderabad",--,Too Few Ratings,150.0,Chinese,"The China Town, H no 8-1-284/OU/307, OU Colony..."
1,Ekta Kitchen,Gonda,--,Too Few Ratings,199.0,"North Indian,Snacks","Ekta Kitchen, Bahraich road ,infront of zila p..."
2,Chinese Lama,"Uttam Nagar,Delhi",--,Too Few Ratings,200.0,"Chinese,Snacks","Chinese Lama, Plot No.C-510, J.J.Colony, Hasts..."
3,Yaami s Kitchen,"Greater Kailash 2,Delhi",4.1,20+ ratings,300.0,Chinese,"Yaami s Kitchen, SHOP NO 3 KRISHNA MARKET KALK..."
4,CAKE JUNCTION,"CV Raman Nagar,Bangalore",--,Too Few Ratings,300.0,"Bakery,Desserts","CAKE JUNCTION, NO 204 , Ramagondanahalli , opp..."

In [ ]:
swiggy_cleaned['rating'].unique()

array(['--', '4.1', '4.6', '3.9', '3.6', '3.8', '4.3', '3.2', '4.5',
       '3.3', '3.7', '4', '4.4', '3.1', '4.2', '2.8', '2.9', '2.7', '3.5',
       '5', '2.2', '3.4', '3', '4.9', '4.7', '4.8', '2.6', '2.5', '1.6',
       '2.3', '1.9', '2.4', '1.8', '1.3', '1.5', '2.1'], dtype=object)

In [ ]:
swiggy_cleaned['rating'] = (
    swiggy_cleaned['rating']
        .str.replace('--', '', regex=False)  # Remove '--'
        .str.replace(',', '', regex=False)   # remove commas
)
swiggy_cleaned['rating'] = pd.to_numeric(swiggy_cleaned['rating'], errors='coerce')

In [ ]:
swiggy_cleaned['rating'].unique()

array([nan, 4.1, 4.6, 3.9, 3.6, 3.8, 4.3, 3.2, 4.5, 3.3, 3.7, 4. , 4.4,
       3.1, 4.2, 2.8, 2.9, 2.7, 3.5, 5. , 2.2, 3.4, 3. , 4.9, 4.7, 4.8,
       2.6, 2.5, 1.6, 2.3, 1.9, 2.4, 1.8, 1.3, 1.5, 2.1])

In [ ]:
swiggy_cleaned.head()

,name,city,rating,rating_count,cost,cuisine,address
0,The China Town,"Manikonda,Hyderabad",NaN,Too Few Ratings,150.0,Chinese,"The China Town, H no 8-1-284/OU/307, OU Colony..."
1,Ekta Kitchen,Gonda,NaN,Too Few Ratings,199.0,"North Indian,Snacks","Ekta Kitchen, Bahraich road ,infront of zila p..."
2,Chinese Lama,"Uttam Nagar,Delhi",NaN,Too Few Ratings,200.0,"Chinese,Snacks","Chinese Lama, Plot No.C-510, J.J.Colony, Hasts..."
3,Yaami s Kitchen,"Greater Kailash 2,Delhi",4.1,20+ ratings,300.0,Chinese,"Yaami s Kitchen, SHOP NO 3 KRISHNA MARKET KALK..."
4,CAKE JUNCTION,"CV Raman Nagar,Bangalore",NaN,Too Few Ratings,300.0,"Bakery,Desserts","CAKE JUNCTION, NO 204 , Ramagondanahalli , opp..."

In [ ]:
# Replace NaN with 0 in the 'rating' column
swiggy_cleaned['rating'] = swiggy_cleaned['rating'].fillna(0)

In [ ]:
swiggy_cleaned.head()

,name,city,rating,rating_count,cost,cuisine,address
0,The China Town,"Manikonda,Hyderabad",0.0,Too Few Ratings,150.0,Chinese,"The China Town, H no 8-1-284/OU/307, OU Colony..."
1,Ekta Kitchen,Gonda,0.0,Too Few Ratings,199.0,"North Indian,Snacks","Ekta Kitchen, Bahraich road ,infront of zila p..."
2,Chinese Lama,"Uttam Nagar,Delhi",0.0,Too Few Ratings,200.0,"Chinese,Snacks","Chinese Lama, Plot No.C-510, J.J.Colony, Hasts..."
3,Yaami s Kitchen,"Greater Kailash 2,Delhi",4.1,20+ ratings,300.0,Chinese,"Yaami s Kitchen, SHOP NO 3 KRISHNA MARKET KALK..."
4,CAKE JUNCTION,"CV Raman Nagar,Bangalore",0.0,Too Few Ratings,300.0,"Bakery,Desserts","CAKE JUNCTION, NO 204 , Ramagondanahalli , opp..."

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

# Initialize encoder
le = LabelEncoder()
oe = OrdinalEncoder()

# Encode 'name' column
swiggy_cleaned['name'] = le.fit_transform(swiggy_cleaned['name'].astype(str))

# Encode 'address' column
swiggy_cleaned['address'] = le.fit_transform(swiggy_cleaned['address'].astype(str))

# Encode 'rating_count' column, converting Series to DataFrame for OrdinalEncoder
swiggy_cleaned['rating_count'] = oe.fit_transform(swiggy_cleaned[['rating_count']].astype(str))

print(swiggy_cleaned[['name','address','rating_count']].head())

    name  address  rating_count
0  10274      746           6.0
1   2940     4532           6.0
2   2129     3621           6.0
3    546     1894           2.0
4   1423     2835           6.0

In [ ]:
swiggy_cleaned.head()

,name,city,rating,rating_count,cost,cuisine,address
0,10274,"Manikonda,Hyderabad",0.0,6.0,150.0,Chinese,746
1,2940,Gonda,0.0,6.0,199.0,"North Indian,Snacks",4532
2,2129,"Uttam Nagar,Delhi",0.0,6.0,200.0,"Chinese,Snacks",3621
3,546,"Greater Kailash 2,Delhi",4.1,2.0,300.0,Chinese,1894
4,1423,"CV Raman Nagar,Bangalore",0.0,6.0,300.0,"Bakery,Desserts",2835

In [ ]:
import pickle
import pandas as pd

# 1. Load the city OHE pickle
with open("city_ohe.pkl", "rb") as f:
    city_ohe = pickle.load(f)

# 2. Load the cuisine OHE pickle
with open("cuisine_ohe.pkl", "rb") as f:
    cuisine_ohe = pickle.load(f)

# 3. Merge them with swiggy_cleaned
# Concatenate along columns (axis=1)
swiggy_cleaned = pd.concat([swiggy_cleaned, city_ohe, cuisine_ohe], axis=1)

print(swiggy_cleaned.head())

    name                      city  rating  rating_count   cost  \
0  10274       Manikonda,Hyderabad     0.0           6.0  150.0
1   2940                     Gonda     0.0           6.0  199.0
2   2129         Uttam Nagar,Delhi     0.0           6.0  200.0
3    546   Greater Kailash 2,Delhi     4.1           2.0  300.0
4   1423  CV Raman Nagar,Bangalore     0.0           6.0  300.0

               cuisine  address  city_Abids & Koti,Hyderabad  city_Abohar  \
0              Chinese      746                        False        False
1  North Indian,Snacks     4532                        False        False
2       Chinese,Snacks     3621                        False        False
3              Chinese     1894                        False        False
4      Bakery,Desserts     2835                        False        False

   city_Adajan,Surat  ...  cuisine_Tibetan  cuisine_Tibetan,Asian  \
0              False  ...            False                  False
1              False  ...            False                  False
2              False  ...            False                  False
3              False  ...            False                  False
4              False  ...            False                  False

   cuisine_Tibetan,Chinese  cuisine_Tibetan,Healthy Food  \
0                    False                         False
1                    False                         False
2                    False                         False
3                    False                         False
4                    False                         False

   cuisine_Tribal,Seafood  cuisine_Turkish  cuisine_Turkish,Middle Eastern  \
0                   False            False                           False
1                   False            False                           False
2                   False            False                           False
3                   False            False                           False
4                   False            False                           False

   cuisine_Waffle  cuisine_Waffle,Beverages  cuisine_Waffle,Desserts
0           False                     False                    False
1           False                     False                    False
2           False                     False                    False
3           False                     False                    False
4           False                     False                    False

[5 rows x 1660 columns]

In [ ]:
swiggy_cleaned.head()

,name,city,rating,rating_count,cost,cuisine,address,"city_Abids & Koti,Hyderabad",city_Abohar,"city_Adajan,Surat",...,cuisine_Tibetan,"cuisine_Tibetan,Asian","cuisine_Tibetan,Chinese","cuisine_Tibetan,Healthy Food","cuisine_Tribal,Seafood",cuisine_Turkish,"cuisine_Turkish,Middle Eastern",cuisine_Waffle,"cuisine_Waffle,Beverages","cuisine_Waffle,Desserts"
0,10274,"Manikonda,Hyderabad",0.0,6.0,150.0,Chinese,746,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2940,Gonda,0.0,6.0,199.0,"North Indian,Snacks",4532,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2129,"Uttam Nagar,Delhi",0.0,6.0,200.0,"Chinese,Snacks",3621,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,546,"Greater Kailash 2,Delhi",4.1,2.0,300.0,Chinese,1894,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1423,"CV Raman Nagar,Bangalore",0.0,6.0,300.0,"Bakery,Desserts",2835,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
# Drop the original city and cuisine columns
swiggy_cleaned = swiggy_cleaned.drop(columns=['city', 'cuisine'])

print(swiggy_cleaned.head())

    name  rating  rating_count   cost  address  city_Abids & Koti,Hyderabad  \
0  10274     0.0           6.0  150.0      746                        False
1   2940     0.0           6.0  199.0     4532                        False
2   2129     0.0           6.0  200.0     3621                        False
3    546     4.1           2.0  300.0     1894                        False
4   1423     0.0           6.0  300.0     2835                        False

   city_Abohar  city_Adajan,Surat  city_Adityapur  city_Adoni  ...  \
0        False              False           False       False  ...
1        False              False           False       False  ...
2        False              False           False       False  ...
3        False              False           False       False  ...
4        False              False           False       False  ...

   cuisine_Tibetan  cuisine_Tibetan,Asian  cuisine_Tibetan,Chinese  \
0            False                  False                    False
1            False                  False                    False
2            False                  False                    False
3            False                  False                    False
4            False                  False                    False

   cuisine_Tibetan,Healthy Food  cuisine_Tribal,Seafood  cuisine_Turkish  \
0                         False                   False            False
1                         False                   False            False
2                         False                   False            False
3                         False                   False            False
4                         False                   False            False

   cuisine_Turkish,Middle Eastern  cuisine_Waffle  cuisine_Waffle,Beverages  \
0                           False           False                     False
1                           False           False                     False
2                           False           False                     False
3                           False           False                     False
4                           False           False                     False

   cuisine_Waffle,Desserts
0                    False
1                    False
2                    False
3                    False
4                    False

[5 rows x 1658 columns]

In [ ]:
swiggy_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Columns: 1658 entries, name to cuisine_Waffle,Desserts
dtypes: bool(1653), float64(3), int64(2)
memory usage: 19.4 MB

In [ ]:
swiggy_cleaned.to_csv("swiggy_encoded", index=False)

In [ ]:
import pandas as pd
import pickle

In [ ]:
swiggy_encoded = pd.read_csv("/content/swiggy_encoded")

In [ ]:
swiggy_encoded.head()

,name,rating,rating_count,cost,address,"city_Abids & Koti,Hyderabad",city_Abohar,"city_Adajan,Surat",city_Adityapur,city_Adoni,...,cuisine_Tibetan,"cuisine_Tibetan,Asian","cuisine_Tibetan,Chinese","cuisine_Tibetan,Healthy Food","cuisine_Tribal,Seafood",cuisine_Turkish,"cuisine_Turkish,Middle Eastern",cuisine_Waffle,"cuisine_Waffle,Beverages","cuisine_Waffle,Desserts"
0,10274,0.0,6.0,150.0,746,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2940,0.0,6.0,199.0,4532,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2129,0.0,6.0,200.0,3621,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,546,4.1,2.0,300.0,1894,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1423,0.0,6.0,300.0,2835,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
from sklearn.cluster import KMeans

# Choose number of clusters
kmeans = KMeans(n_clusters=5, random_state=42)

# Fit the model
swiggy_encoded['cluster'] = kmeans.fit_predict(swiggy_encoded)

print(swiggy_encoded[['cluster']].head())

   cluster
0        0
1        4
2        2
3        2
4        2

In [ ]:
from sklearn.cluster import KMeans

# Choose number of clusters
kmeans = KMeans(n_clusters=10, random_state=42)

# Fit the model
swiggy_encoded['cluster'] = kmeans.fit_predict(swiggy_encoded)

print(swiggy_encoded[['cluster']].head())

   cluster
0        0
1        6
2        8
3        2
4        8

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute cosine similarity matrix
cosine_sim = cosine_similarity(swiggy_encoded.drop(columns=['cluster']))

# Example: get similarity scores for the first restaurant
similarities = list(enumerate(cosine_sim[0]))

# Sort by similarity (excluding itself at index 0)
similarities = sorted(similarities, key=lambda x: x[1], reverse=True)

print(similarities[:5])  # top 5 most similar items

[(0, np.float64(0.9999999999999999)), (2751, np.float64(0.9999983109922574)), (6177, np.float64(0.9999965523083445)), (11654, np.float64(0.9999962933105181)), (6439, np.float64(0.9999961115310199))]

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import cosine_similarity

# 1. Load both files
swiggy_cleaned = pd.read_csv("/content/swiggy_cleaned (1).csv")   # raw file with names, addresses, etc.
swiggy_encoded = pd.read_csv("/content/swiggy_encoded")   # numeric encoded file

# 2. Apply K-Means clustering
kmeans = KMeans(n_clusters=5, random_state=42)
swiggy_encoded['cluster'] = kmeans.fit_predict(swiggy_encoded)

# 3. Compute cosine similarity (drop cluster column for similarity calculation)
cosine_sim = cosine_similarity(swiggy_encoded.drop(columns=['cluster']))

# 4. Function to get similar restaurants
def get_similar_restaurants(index, top_n=5):
    # Get similarity scores for the given restaurant index
    sim_scores = list(enumerate(cosine_sim[index]))
    # Sort by similarity (highest first, skip itself at index)
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    top_indices = [i[0] for i in sim_scores[1:top_n+1]]
    # Map back to original file for human-readable output
    return swiggy_cleaned.iloc[top_indices][['name','address','cost','rating','cuisine']]

# 5. Example usage: pick restaurant at index 10
print("Cluster assignment:", swiggy_encoded.loc[10, 'cluster'])
print("Similar restaurants to index 10:")
print(get_similar_restaurants(10, top_n=5))

Cluster assignment: 3
Similar restaurants to index 10:
                        name  \
2650    Sonar Bangla kitchen
5183          Soman Unavagam
9217                Sorbetto
5641  Sona Pure Veg Paradise
2188                Southinn

                                                address   cost rating  \
2650       Sonar Bangla kitchen, Cm 30 sector 122 noida  ₹ 300    3.6
5183  Soman Unavagam, 1A, T. H. Road, M. R. Nagar, K...  ₹ 300    4.1
9217  Sorbetto, 1ST, 2ND FLOOR, NEW NO. 114, AT INDU...  ₹ 300      4
5641  Sona Pure Veg Paradise, 53 54  1st Floor  Gove...  ₹ 300    4.3
2188  Southinn, 1158, 5th main, 20th cross, 7th sect...  ₹ 300    4.3

                        cuisine
2650             Chinese,Indian
5183  South Indian,North Indian
9217         Ice Cream,Desserts
5641       North Indian,Chinese
2188       Chinese,North Indian

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import cosine_similarity

# 1. Load both files
swiggy_cleaned = pd.read_csv("/content/swiggy_cleaned (1).csv")   # raw file with names, addresses, etc.
swiggy_encoded = pd.read_csv("/content/swiggy_encoded")   # numeric encoded file

# 2. Apply K-Means clustering
kmeans = KMeans(n_clusters=5, random_state=42)
swiggy_encoded['cluster'] = kmeans.fit_predict(swiggy_encoded)

# 3. Compute cosine similarity (drop cluster column for similarity calculation)
cosine_sim = cosine_similarity(swiggy_encoded.drop(columns=['cluster']))

# 4. Build a mapping from restaurant name to index
indices = pd.Series(swiggy_cleaned.index, index=swiggy_cleaned['name']).drop_duplicates()

# 5. Function to get similar restaurants by name
def get_similar_restaurants_by_name(name, top_n=5):
    if name not in indices:
        return f"Restaurant '{name}' not found in dataset."
    idx = indices[name]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    top_indices = [i[0] for i in sim_scores[1:top_n+1]]
    return swiggy_cleaned.iloc[top_indices][['name','address','cost','rating','cuisine']]

# 6. Example usage
# Corrected: Using an actual restaurant name 'The China Town' instead of a cuisine type 'Chinese,Indian'
# Also, accessing 'cluster' from swiggy_encoded which contains the cluster assignments
print("Cluster assignment for The China Town:", swiggy_encoded.loc[indices['The China Town'], 'cluster'])
print("Similar restaurants to The China Town:")
print(get_similar_restaurants_by_name("The China Town", top_n=5))

Cluster assignment for The China Town: 0
Similar restaurants to The China Town:
                    name                                            address  \
2751         A One Momos  A One Momos, A-one Momos, near Health Point Ho...
6177      The Cake Point  The Cake Point, Old No. 1/422, New No. 25, Val...
11654     The Cake Point  The Cake Point, 111, Shanthi Colony Main Road,...
6439   The Cream Company  The Cream Company, Khata No. 6/2, Bharatiya Ma...
6334       The Chai Spot  The Chai Spot, 14, Madipakkam Main Rd, Kaiveli...

        cost rating           cuisine
2751   ₹ 150    4.2           Chinese
6177   ₹ 150     --            Bakery
11654  ₹ 150     --            Bakery
6439   ₹ 150     --         Ice Cream
6334   ₹ 120    4.4  Juices,Beverages